body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0px;
  background-image: url(../src/img/netflix_background.jpg);
  background-repeat: no-repeat;
}

.login-background > img {
  width: 100%;
  height: 100%;
  display: flex;

  z-index: 10;
}

.login-background {
  position: relative;
  z-index: -1;
  opacity: 0.5;
}

.header-logo {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, transparent);
}
.header-logo > img {
  margin-left: 36px;
  margin-top: 23px;
  width: 167px;
  height: 45;
  z-index: 1;
}

.background-login-geral {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela-login {
  width: 450px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.form {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.form > h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
}

.input {
  width: 294px;
  height: 50px;
  margin: 0px;
  border-radius: 5px;
  border: none;
  margin-bottom: 16px;
  background-color: #333333;
  font-weight: 500;
  padding-left: 20px;
  color: #8c8c8c;
  font-size: 16px;
}
.input-button {
  height: 50px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 24px;
  cursor: pointer;
}

.input-button > label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.rodape-botao {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 400;
}
.input-checkbox {
  margin: 0;
  display: flex;
  gap: 5px;
}
.rodape-botao > label {
  margin-left: 5px;
}
.rodape-botao > a {
  text-decoration: none;
  color: #b3b3b3;
}

.rodape-botao > a:hover {
  text-decoration: underline;
}
.novo-por-aqui {
  color: #737373;
  font-size: 16px;
  margin-top: 96px;
}
.recaptcha {
  color: #8c8c8c;
  font-size: 13px;
}
.recaptcha > a {
  color: rgb(0, 113, 235);
  text-decoration: none;
}
.recaptcha > a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  height: 220px;
  padding: 20px;
  position: relative;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}
.content-footer {
  width: 100%;
  margin: 0px 450px;
  color: #737373;
  font-family: "Roboto", sans-serif;
}
.estrutura-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  font-size: 13px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.a-superior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a-inferior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.a-superior > a {
  color: #737373;
  text-decoration: none;
}
.a-inferior > a {
  color: #737373;
  text-decoration: none;
}
.content-footer > p a {
  color: #737373;
  text-decoration: none;
}
.estrutura-link > a {
  color: #737373;
  text-decoration: none;
}
.a-superior > a:hover {
  text-decoration: underline;
}
.a-inferior > a:hover {
  text-decoration: underline;
}
.content-footer > p a:hover {
  text-decoration: underline;
}
.estrutura-link > a:hover {
  text-decoration: underline;
}
#principal {
  letter-spacing: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#assinar:hover {
  text-decoration: underline;
}
#caixa {
  margin: 0;
  width: 16px;
  height: 16px;
  color: #8c8c8c;
}

#assinar {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
