html,
body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Console";
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(94, 82, 82, 0.521);
}

footer {
  background-color: rgba(0, 0, 0, 0.849);
  width: 100%;
  color: white;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(43, 130, 136);
  width: 100%;
  margin: 0;
  padding: 20px;
  height: 300px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.section {
  padding: 0;
  margin: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.849);
  color: #b0bec5;
  border-radius: 1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
}

.secondSection {
  background-color: #b0bec5;
  width: 80%;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
  
}

.secondSection > h3 {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(74, 74, 74);
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  height: 100%;
}

.atributo {
  color: rgb(74, 74, 74);
  margin-left: 50px;
  font-size: 20px;
}
.atributos {
  margin-bottom: 95px;

}

.name {
  color: rgb(74, 74, 74);
  margin-left: 50px;
  font-size: 40px;
  margin-top: 40px;
}

.experiencias {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-left: 10px;
}

.experiencia {
  background-color: white;
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 5px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.icons > img {
  margin-right: 10px;
  width: 20px;
  margin-left: 6px;
}

.contato {
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 30px;
}

.contato > h3 {
  margin-bottom: 20px;
  
}
.skills {
  margin-bottom: 20px;
  margin-left: 60px;
}
.skills > h3 {
  margin-bottom: 20px;
}

.plataformas {
  margin-bottom: 20px;
  margin-left: 60px;
}
.plataformas > h3 {
  margin-bottom: 20px;
}
.link-cor {
  color: #b0bec5;
}

#fotoPerfil {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#plataformas {
  margin-bottom: 20px;
}

#epic {
  width: 30px;
  height: 30px;
  margin-left: 0px;
}
